<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firstapp.app">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstApp">
        <activity android:name=".ProgressActivity"></activity>
        <activity android:name=".AddFriends" />
        <activity android:name=".VideoPlayActivity" />
        <activity android:name=".CaptureVideo" />
        <activity android:name=".world1" />
        <activity android:name=".WorldsMainPage" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".multiplayer" />
        <activity android:name=".singleplayer" />
        <activity android:name=".Account" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>